{% extends 'base.html.twig' %}

{% block title %} verification {% endblock %}

{% block body %}

    <div class="blockHead headMedium">
        <div class="row title">
            <h1 class="col-12" > Nouvelle Simulation </h1>
        </div>
    </div>

    <div class="row d-flex simulationFormBlock">
        <div class="col-12 ">
            <h2>Vérification des informations</h2>
        </div>
    </div>

    {% set costs = app.session.get('costs') %}
    {% set incomes = app.session.get('incomes') %}

    {{ dump("costs") }}
    {{ dump(app.session.get('incomes')) }}

    Votre prêt bancaire : {{ incomes.bankLoan }} </br>

                {# Votre CA : {{ incomes.ca }} </br>
                Vos besoin de démarrage : {{ incomes.firstNeeds }} </br>

                {#Vos charges variables : {{ charges.variableCharges }} </br>
                Vos charges fixes : {{ charges.fixedcharge }} </br>#}






    <a class="col-xs-2 center" href="{{ path('app_flush') }}">Valider la simulation</a> </br>
    <a class="col-xs-2 center" href="{{ path('app_new_simulation') }}">Modifier</a>
{% endblock %}