{% extends 'base.html.twig' %}

{% block title %} charges {% endblock %}

{% block body %}

    <div class="blockHead headMedium">
        <div class="row title">
            <h1 class="col-12" > Nouvelle Simulation </h1>
        </div>
    </div>

    <div class="row d-flex simulationFormBlock">
        <div class="col-12 ">
            <h2>Les charges</h2>
        </div>
    </div>

    {% if app.session.get('costs') is null %}
        {% set salaries = "0" %}
        {% set salariesIncrease = "0" %}
        {% set rent = "0" %}
        {% set insurance = "0" %}
        {% set othersFixedCosts = "0" %}
        {% set variableCosts = "0" %}
        {% set taxes = "0" %}
        {% set corporationTax = "0" %}
    {% else %}
        {% set salaries = app.session.get('costs').salaries %}
        {% set salariesIncrease = app.session.get('costs').salariesIncrease %}
        {% set rent = app.session.get('costs').rent %}
        {% set insurance = app.session.get('costs').insurance %}
        {% set othersFixedCosts = app.session.get('costs').othersFixedCosts %}
        {% set variableCosts = app.session.get('costs').variableCosts %}
        {% set taxes = app.session.get('costs').taxes %}
        {% set corporationTax = app.session.get('costs').corporationTax %}

    {% endif %}

    <div class="row d-flex simulationFormBlock">
        <div class="col-8">

            {{ form_start(costsForm) }}

            {{ form_row(costsForm.salaries, {'value': salaries}) }}
            {{ form_row(costsForm.salaries_increase, {'value': salariesIncrease}) }}
            {{ form_row(costsForm.rent, {'value': rent}) }}
            {{ form_row(costsForm.insurance, {'value': insurance}) }}
            {{ form_row(costsForm.others_fixed_costs, {'value': othersFixedCosts}) }}
            {{ form_row(costsForm.variable_costs, {'value': variableCosts}) }}
            {{ form_row(costsForm.corporation_tax, {'value': corporationTax}) }}
            {{ form_row(costsForm.taxes, {'value': taxes}) }}

            {# {{ form_widget(costsForm) }} #}

            <button type="submit" class="btn btn-primary simulationFormButton">Suivant</button>
            {{ form_end(costsForm) }}

        </div>
    </div>

{% endblock %}