{% extends 'base.html.twig' %}

{% block title %} besoins de démarrage {% endblock %}

{% block body %}

    <div class="blockHead headMedium">
        <div class="row title">
            <h1 class="col-12" > Nouvelle Simulation </h1>
        </div>
    </div>

    <div class="row d-flex simulationFormBlock">
        <div class="col-12 ">
            <h2>Mes besoins de démarrage</h2>
        </div>
    </div>

    {% if app.session.get('firstNeeds') is null %}
        {% set startingCash = "0" %}
        {% set startingInvestment = "0" %}
        {% set depreciation = "10" %}
        {% set startingStock = "0" %}
        {% set othersNeeds = "0" %}
    {% else %}
        {% set startingCash = app.session.get('firstNeeds').startingCash %}
        {% set startingInvestment = app.session.get('firstNeeds').startingInvestment %}
        {% set depreciation = app.session.get('firstNeeds').depreciation %}
        {% set startingStock = app.session.get('firstNeeds').startingStock %}
        {% set othersNeeds = app.session.get('firstNeeds').othersNeeds %}
    {% endif %}


    <div class="row d-flex simulationFormBlock">
        <div class="col-8">

            {{ form_start(firstNeedsForm) }}

            {{ form_row(firstNeedsForm.starting_cash, {'value': startingCash}) }}
            {{ form_row(firstNeedsForm.starting_investment, {'value': startingInvestment}) }}
            {{ form_row(firstNeedsForm.depreciation, {'value': depreciation}) }}
            {{ form_row(firstNeedsForm.starting_stock, {'value': startingStock}) }}
            {{ form_row(firstNeedsForm.others_needs, {'value': othersNeeds}) }}

            {#  {{ form_widget(firstNeedsForm) }} #}

            <button type="submit" class="btn btn-primary simulationFormButton">Suivant</button>
            {{ form_end(firstNeedsForm) }}

        </div>
    </div>
{% endblock %}