{% extends 'base.html.twig' %}

{% block title %} revenues {% endblock %}

{% block body %}

    <div class="blockHead headMedium">
        <div class="row title">
            <h1 class="col-12" > Nouvelle Simulation </h1>
        </div>
    </div>

    <div class="row d-flex simulationFormBlock">
        <div class="col-12 ">
            <h2>Mes revenus</h2>
        </div>
    </div>

    {% if app.session.get('incomes') is null %}
        {% set bankLoan = "0" %}
        {% set personnalContribution = "0" %}
        {% set contributionInKind = "0" %}
        {% set startingGrant = "0" %}
        {% set othersIncomes = "0" %}
    {% else %}
        {% set bankLoan = app.session.get('incomes').bankLoan %}
        {% set personnalContribution = app.session.get('incomes').personnalContribution %}
        {% set contributionInKind = app.session.get('incomes').contributionInKind %}
        {% set startingGrant = app.session.get('incomes').startingGrant %}
        {% set othersIncomes = app.session.get('incomes').othersIncomes %}
    {% endif %}

    <div class="row d-flex simulationFormBlock">
        <div class="col-8">

            {{ form_start(incomesForm) }}

            {{ form_row(incomesForm.bank_loan, {'value': bankLoan}) }}
            {{ form_row(incomesForm.personnal_contribution, {'value': personnalContribution}) }}
            {{ form_row(incomesForm.contribution_in_kind, {'value': contributionInKind}) }}
            {{ form_row(incomesForm.starting_grant, {'value': startingGrant}) }}
            {{ form_row(incomesForm.others_incomes, {'value': othersIncomes}) }}

            {# {{ form_widget(incomesForm) }} #}

            <button type="submit" class="btn btn-primary simulationFormButton">Suivant</button>
            {{ form_end(incomesForm) }}
        </div>
    </div>

{% endblock %}