{% extends 'base.html.twig' %}

{% block title %} nouvelle simulation {% endblock %}

{% block body %}

    <div class="blockHead headMedium">
        <div class="row title">
            <h1 class="col-12" > Nouvelle Simulation </h1>
        </div>
    </div>

    <div class="row d-flex simulationFormBlock">
        <div class="col-12 ">
            <h2>Commencer la simulation</h2>
        </div>
    </div>

    {% if app.session.get('simulation') is null %}
        {% set simulationName = "Nouvelle simulation" %}
    {% else %}
        {% set simulationName = app.session.get('simulation').name %}
    {% endif %}

    <div class="row d-flex simulationFormBlock">
        <div class="col-8">
            {{ form_start(simulationForm) }}

            {# {{ form_label(simulationForm.name, 'Nom de la simulation test') }} #}

            {{ form_row(simulationForm.name, {'value': simulationName}) }}

            {# {{ form_widget(simulationForm.name) }} #}

            {# <small>{{ form_help(simulationForm.name) }}</small> #}

            <button type="submit" class="btn btn-primary simulationFormButton">Valider</button>
            {{ form_end(simulationForm) }}
        </div>
    </div>

{% endblock %}