{% extends 'base.html.twig' %}

{% block title %} chiffre d'affaire {% endblock %}

{% block body %}

    <div class="blockHead headMedium">
        <div class="row title">
            <h1 class="col-12" > Nouvelle Simulation </h1>
        </div>
    </div>

    <div class="row d-flex simulationFormBlock">
        <div class="col-12 ">
            <h2>Mon chiffre d'affaire</h2>
        </div>
    </div>

    {{ dump(app.session.get('turnover')) }}
    {{ dump(app.session.get('incomes')) }}

    {% if app.session.get('turnover') is null %}
        {% set monthWorked = "12" %}
        {% set daysWorked = "365" %}
        {% set dailyRevenue = "0" %}
        {% set turnoverIncrease = "0" %}
    {% else %}
        {% set monthWorked = app.session.get('turnover').monthWorked %}
        {% set daysWorked = app.session.get('turnover').daysWorked %}
        {% set dailyRevenue = app.session.get('turnover').dailyRevenue %}
        {% set turnoverIncrease = app.session.get('turnover').turnoverIncrease %}
    {% endif %}

    <div class="row d-flex simulationFormBlock">
        <div class="col-8">
            {{ form_start(turnoverForm) }}

            {{ form_row(turnoverForm.month_worked, {'value': monthWorked}) }}
            {{ form_row(turnoverForm.days_worked, {'value': daysWorked}) }}
            {{ form_row(turnoverForm.daily_revenue, {'value': dailyRevenue}) }}
            {{ form_row(turnoverForm.turnover_increase, {'value': turnoverIncrease}) }}

            {#  {{ form_widget(turnoverForm) }} #}


            <button type="submit" class="btn btn-primary simulationFormButton">Suivant</button>
            {{ form_end(turnoverForm) }}
        </div>
    </div>
{% endblock %}