{% extends 'base.html.twig' %}

{% block title %} verification {% endblock %}

{% block body %}

    {% set costs = app.session.get('costs') %}
    {% set incomes = app.session.get('incomes') %}

    {#{{ dump(app.session.get('incomes')) }}#}

    {#Votre CA : {{ incomes.ca }} </br>
    Vos besoin de démarrage : {{ incomes.firstNeeds }} </br>
    Vos charges variables : {{ charges.variableCharges }} </br>
    Vos charges fixes : {{ charges.fixedcharge }} </br>#}

    <a class="col-xs-2 center" href="{{ path('app_flush') }}">Valider les données!</a> </br>
    <a class="col-xs-2 center" href="{{ path('app_new_simulation') }}">Modifier!</a>
{% endblock %}