{% extends 'base.html.twig' %}

{% block title %} All simulations {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
{% endblock %}

{% block body %}

    <div class="blockHead headLarge">
        <div class="row title">
            <h1 class="col-12" > Mes Simulations </h1>
        </div>
    </div>

    <div class="blueBackground">
{#TODO class to rename#}
        <div class="row blockDashboard">

            <div class="col-12 noPadding">

                {{ form_start(simulationForm) }}

                {{ form_row(simulationForm.name, {
                    attr: {placeholder: 'Recherchez une simulation' }
                }) }}

                <button type="submit" class="btn btn-primary">Chercher</button>

                {{ form_end(simulationForm) }}

                {% for simulation in simulations %}
                    <a href="{{ path('app_simulation_view', { slug: simulation.id }) }}"> Voir {{ simulation.name }} </br> créée le {{ simulation.createdAt|format_datetime(locale='fr') }}</a></br>
                {% endfor %}
            </div>
        </div>

    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/algolia-autocomplete.js') }}"></script>
{% endblock %}